/* Reused Components */

.err{
  color: #ff0000;
}

.inputLabel{
  font-size: var(--label-fontsize);
}

.p_margin_padding_none{
  margin: 0;
  padding: 0;
}

.input_button{
  border: 0;
  outline: none;
  background: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  transition: color 0.1s linear, background-color 0.1s linear;
}

.input_button:active{
  transform: scale(0.98);
}
.input_button:active,
.input_button:focus{
  outline: none;
}

.button_link{
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  text-decoration: none;
  color: #000;
  padding: 0.2em 0.4em;
}
.button_link:hover{
  text-decoration: none;
  color: #000;
}

/* ============== */
/* Header Section */
/* ============== */

/* Navigation Bar */

.navlist_cut{
  width: 100%;
  justify-content: flex-end;
}

.navlist_cut a{
  font-weight: 700;
  color: #111 !important;
  white-space: nowrap;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navlist_cut .nav-link.active{
  color: #1bbd36 !important;
}

.navlist_cut a:hover{
  color: #1bbd36 !important;
}

.navbar{
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.header_title_1{
  color: #1bbd36;
}

.navbar-brand{
  font-size: 1.75rem;
  font-weight: 650;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}


/* Registration Form */

.signup_form{
  box-shadow: 0 -4px 7px 0 rgb(0 0 0 / 20%), 0 6px 17px 0 rgb(0 0 0 / 19%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;   
  width: 98%;
}

/* ============== */
/* homebody Section */
/* ============== */

.home_body{
  background: rgba(0, 0, 0, 0.5) url(../../image/home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  height: 100vh;
}

.home_title{
  font-size: 4rem;
  color: #fff;
  text-align: center;
  padding-top: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* =========== */
/* Admin Panel */
/* =========== */

.admin_dash{
  background-color: #d7d7d7;
  border-radius: 9px;
  width: 100%;
}

.admin_dash > div{
  padding: 0.5rem;
}
.admin_dash_1, .admin_dash_2{
  /* width: 35%; */
  padding: 1rem;
  background-color: #fff;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

/* Control Panel */

.control_panel_box{
  box-shadow: 0 -4px 7px 0 rgb(0 0 0 / 20%), 0 6px 17px 0 rgb(0 0 0 / 19%);
  border-radius: 7px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.control_item{
  width: 25%;
  border-radius: 7px;
  border: 1px solid #0a58ca;
  padding: 0.5rem;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 24%);
  margin-right: 0.9rem;
  margin-top: 0.7rem;
}

.control_item_icon{
  text-align: center;
  font-size: 2.5rem;
  color: #9035b5
}

.control_item_title{
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
}
.control_item_btn{
  text-align: center;
}


/* ------------------ */
/* Admin - Supervisor */
/* ------------------ */

.user_features_comment{
  display: flex;
  padding: 1rem;
  margin-top: 3rem;
  flex-direction: column;
}

.user_features_nav{
  text-align: center;
  padding: 1rem 0.5rem;
}
.user_features_comment_right{
  margin-top: 1rem;
}

.user_features_comment_left{
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  align-self: flex-start;
}

.user_features_menu{
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.user_features_menu a{
  width: 93%;
  text-align: center;
  padding: 0.5rem 0rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.user_features_menu a:hover{
  background-color: #e4e4e4;
  border-radius: 8px;

}

.user_features_comment_right{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.comment_operation{
  display: flex;
  justify-content: flex-end;

}

.comment_operation p{
  margin-right: 0rem;
}
.comment_operation p a{
  text-decoration: none;
}

.comment_operation_edit{
  background-color: #007bff;
  color:#fff;
  margin-right: 1rem;
}
.comment_operation_delete{
  background-color: #dc3545;
  color:#fff;
}

.comment_operation_edit:hover,
.comment_operation_delete:hover{
  color:#fff;
} 

.comment_golf_course p:first-child{
  font-weight: 500;
  font-size: 1.4rem;
}
.comment_golf_course p:last-child{
  font-size: 1.2rem;
}

.comment_main_section{
  background-color: #f5f3f3;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  max-height: 792px;
  overflow-y: auto;
  border: 7px double #bebcc8;
}

.comment_item{
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
}

.comments_content{
  width: 100%;
  height: 119px;
}


.comment_form_submit{
  background-color: #007bff;
  color: #fff;
}

.comment_body{
  position: relative;
}

.comment_form_cancel{
  position: absolute;
  bottom: 0;
  left: 140px;
  background-color: #d8d4d4;
  color: #000;
}

.golf_course_name{
  height: calc(2.25rem + 2px);
  display: block;
  width: 44%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.golf_course_name:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

/* --------------------------------- */
/* Admin Control Panel - User Profile */
/* --------------------------------- */

.admin_profile_forms{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.admin_profile_forms > * {
  width: 35%;
}

.admin_profile_forms .golf_course_name{
  width: 100%;
}

.user_search_button{
  margin-top: 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.user_search_button:hover{
  color: #fff;
  text-decoration: none;
}

.admin_user_body > div{
  display: flex;
  flex-direction: column;
}

.admin_user_body > div p:first-child{
  margin-right: 3rem;
}

.admin_user_body > div p{
  width: 100%;
}

.admin_user_body > div:first-child{
  margin-top: 1rem;
}

.admin_user_top{
  display: flex;
  flex-direction: column;
}
.admin_user_top img{
  margin-right: 2rem;
  margin-top: 2rem;
  width: 100%;
  border: 5px double #dcdcdc;
}


.admin_user_top > p{
  margin-top: 1rem;
}

.admin_course_add_button{
  background-color: #77AB59;
  color: #fff;
}

.admin_course_add_button:hover{
  color: #fff;
}

.back_button{
  margin-left: 3rem;
  background-color: #0d6efd;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem;
}

.back_button:hover{
  color: #fff;
}

/* ################## */
/* Responsive Designs */
/* ################## */

/* ========================================= */
/* Media Queries: Extra small device (480px) */
/* ========================================= */

@media all and (min-width: 480px){
  
}

/* ========================================== */
/* Media Queries: Medium Small device (576px) */
/* ========================================== */

@media all and (min-width: 576px){

  .signup_form{
    width: 76%;
  }

}

/* =================================== */
/* Media Queries: Small device (768px) */
/* =================================== */

@media all and (min-width: 768px){
  .user_features_comment{
    flex-direction: row;
  }
  .user_features_comment_right{
    margin-top: 1rem;
  }
  .admin_user_top{
    flex-direction: row;
    align-items: center;
  }
  .admin_user_top img{
    width: 21%;
    max-width: 251px;
  }
}


/* ==================================== */
/* Media Queries: Medium device (992px) */
/* ==================================== */

@media all and (min-width: 992px){
  .admin_dash{
    width: 58%;
  }
}

/* ==================================== */
/* Media Queries: Large device (1200px) */
/* ==================================== */

@media all and (min-width: 1200px){

  .signup_form{
    max-width: 940px;
  }
  .admin_user_body > div{
    flex-direction: row;
  }
}

/* ========================================== */
/* Media Queries: Extra Large device (1399px) */
/* ========================================== */

@media all and (min-width: 1399px){
  
}