/* ============== */
/* Header Section */
/* ============== */

/* Navigation Bar */

.navlist_cut{
  width: 100%;
  justify-content: flex-end;
}

.navlist_cut a{
  font-weight: 700;
  color: #111 !important;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}

.navlist_cut .nav-link.active{
  color: #1bbd36 !important;
}

.navlist_cut a:hover{
  color: #1bbd36 !important;
}

.navbar{
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.header_title_1{
  color: #1bbd36;
}

.navbar-brand{
  font-size: 1.75rem;
  font-weight: 650;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}